# Server Configuration
PORT=3000

# Database Configuration
DATABASE_URL=postgresql://postgres:123456@localhost:5432/pawsense_db

# JWT Configuration
JWT_SECRET=d9f4a7e8b3c1f6d2e5a9c7b8f0d3e4a1c6b7d8e9f2a3c5b1d7e8f9a0b4c2d6e7

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dhrd2odvd
CLOUDINARY_API_KEY=345619747359341
CLOUDINARY_API_SECRET=k7TLg6tbmkYMQB0ZgUUKMj63Pe0
